@import 'bootstrap/bootstrap';
@import 'fontawesome/fontawesome';
@import 'fontawesome/brands';
@import 'fontawesome/light';
@import 'fontawesome/regular';
@import 'fontawesome/solid';
@import 'global/mixins';
@import 'global/functions';
@import 'layout/style';
